<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bakehub</title>
    <link rel="icon" type="image/png" href="/bakehub_favicon.png">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>