<!DOCTYPE html>
<html>
  <head>
    <title>Bakehub | Customer Signup</title>
    <link rel="icon" type="image/png" href="/bakehub_favicon.png">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="navbar">
      <image src="/search.png" height="75"></image>
      <nav>
        <a href="/help">Help</a>
        <a href="/login">Back to Login</a>
      </nav>
    </header>

    <br><br>

    <main class="login">
      <div class="login-card" id="login-card">
        <h2 class="login-title">Create a New Account!</h2><br>

        <form method="POST" action="/signup">
          <input type="hidden" name="type" value="customer">
          <div class="input-container">

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required><br><br>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required><br><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" required><br><br>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street" required><br><br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br><br>

            <label for="zip">Zip Code:</label>
            <input type="text" id="zip" name="zip" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

          </div>
          <button type="submit" class="cs">Sign Up</button>
        </form>
      </div>
    </main>

    <footer class="footer">
      <p>CCAPDEV S12 Team Gardenia</p>
    </footer>
  </body>
</html>
