<!DOCTYPE html>
<html>
  <head>
    <title>Bakehub | Seller Login</title>
    <link rel="icon" type="image/png" href="bakehub_favicon.png">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="navbar">
      <image src="search.png" height="75"></image>
      <nav>
        <a href="/help">Help</a>
        <a href="/catalog">Catalog</a>
        <a href="/login">Back to Login</a>
      </nav>
    </header>

    <br><br>

    <main class="login">
      <div class="login-card" id="login-card">
        <h2 class="login-title">Hello Seller (Friend)!</h2><br>

        <form method="POST" action="/login">
          <input type="hidden" name="type" value="manager">
          <div class="input-container">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

          </div>
          <button type="submit" class="submit s-login-btn">Login</button>
        </form>
      </div>
    </main>

    <footer class="footer">
      <p>CCAPDEV S12 Team Gardenia</p>
    </footer>
  </body>
</html>
